/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 #recipe {
  margin: 0 auto;
  width: 120px;
  display: block;
 }


