.big-image-wrapper {
  max-width: 500px;
  margin: 0 auto 40px;
  border-radius: 5px;
  overflow: hidden;
}

.big-image {
  background-color: #171717;
  background-size: cover;
  padding-top: 100%;
}

.show  {
  h1 {
    font-size: 50px;
    font-weight: 200;
  }
  & h4 {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 200;
  }
 }

.btns {
  margin: 55px;
}


