<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li>
            <div id="wechat-qrocde">
              <a href="#wechat">
                <i class="fa fa-wechat" id="wechat"></i>
                <%= image_tag "" "wechat-qrcode.gif", class: 'tooltip' %>
              </a>
            </div>
          </li>
          <li><a href="http://www.linkedin.com/in/jing-zhu-270610b0/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://www.facebook.com/jing.zhu.5283" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>© GinkoTen</p>
      </div>
    </div>
  </div>
</div>
