.banner {
  color: white;
  text-align: center;
  height: 92vh;
  background-size: cover !important;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  position: relative;
}
.banner h1 {
  font-size: 50px;
  font-family: 'Raleway';
  font-weight: 200;
  height: 91px;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  margin: 30px 0 80px 0;
}
