.card {
  width: 375px;
  height: 250px;
  background-size: cover !important;
  background-color: #171717;
  color: white;
  position: relative;
  border-radius: 5px;
}

.card a {
  color: white;
  text-decoration: none;
  transition: all 0.8s ease;
  &:hover {
    color: #C99E5A;
  }
}

.card-name {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 10px;
  text-transform: uppercase;
  & h4 {
    font-weight: 300;
  }
}

.card-text {
  color: #C99E5A;
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.card-link {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index:2;
  background-color: black;
  opacity: 0;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.5;
  }
}

