.form {
  margin: 0 auto;
  width: 600px;
}
.form h2 {
    font-weight: 300;
    margin-bottom: 30px;
  }

.form-inputs {
  width: 550px;
  font-family: 'Raleway';
  font-weight: 200;
}

.new-cocktail .form-group {
  margin-bottom: 25px;
}

.control-label {
  font-weight: 300;
}
