// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  background-color: #202020;
  font-family: 'Raleway';
  font-weight: 200;
}

.padded {
  margin-top: 40px;
  padded: 30px 0;
}
