// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  color: white;
  background-color: #202020;
  font-family: 'Raleway';
  font-weight: 200;
}
a {
  color: white;
  text-decoration: none;
  text-link: none;
}
hr {
  opacity: 0.1;
  margin: 40px 0;
}
.padded {
  margin-top: 30px;
  padding: 30px 0;
}
.padded-small {
  margin-top: 20px;
  padding: 20px;
}
.page-container {
  height: 90vh;
}


